a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: Cormorant;
  src: url(../fonts/Cormorant-Italic.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: Inter;
  src: url(../fonts/Inter-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
body {
  font-family: "Inter", sans-serif;
  color: #000000;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.btn {
  width: 90px;
  background: #f1ebe7;
  border: 1px solid #935116;
  font-size: 3vw;
  line-height: 1.17;
  font-weight: 700;
  color: #935116;
  border-radius: 20px;
  padding: 5px;
  margin-left: 5px;
  z-index: 1;
  position: relative;
  left: 40px;
}
@media screen and (min-width: 414px) and (max-width: 479px) {
  .btn {
    left: 57px;
  }
}
@media screen and (min-width: 480px) {
  .btn {
    font-size: 17px;
    line-height: 1.17;
    width: 143px;
  }
}
@media screen and (min-width: 768px) {
  .btn {
    width: 150px;
    left: 55px;
  }
}
@media screen and (min-width: 1200px) {
  .btn {
    padding: 10px;
    width: 250px;
    left: 90px;
  }
}

.header {
  padding-top: 5px;
  padding-bottom: 5px;
  position: absolute;
  z-index: 2;
  width: 100%;
}
@media screen and (min-width: 480px) {
  .header {
    padding-top: 40px;
  }
}

.header-nav {
  display: -ms-flexbox;
  align-items: baseline;
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
    gap: 65px;
  }
}
@media screen and (min-width: 1200px) {
  .header-nav {
    gap: 196px;
  }
}

.header-logo {
  font-size: 17px;
  line-height: 20px;
  border-bottom: 1px solid #935116;
}

.logo-icon {
  fill: #935116;
}

.header-nav-list {
  display: flex;
  gap: 20px;
}
@media screen and (min-width: 1200px) {
  .header-nav-list {
    gap: 45px;
  }
}

.header-nav-link {
  font-size: 17px;
  line-height: 1.17;
  font-weight: 700;
  color: #222222;
}

.header-nav-right {
  color: #ffffff;
}

.mobile-menu {
  position: absolute;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.menu-open {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #935116;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-close {
  background-color: transparent;
}

.mobile-menu {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  top: 0;
  position: fixed;
  z-index: 100;
}

.container-menu {
  width: 100%;
  height: 100%;
  padding-right: 15px;
  padding-left: 40px;
  margin: 0 auto;
  position: relative;
  overflow: auto;
}

body.menu-open {
  overflow: hidden;
}

.hero {
  background-color: #fbeee6;
}

.hero-container {
  background-image: url(../images/hero-img-mob.jpg);
  background-position: 118px 0px;
  background-repeat: no-repeat;
}
@media screen and (min-width: 414px) and (max-width: 479px) {
  .hero-container {
    background-position: 131px 0px;
  }
}
@media screen and (min-width: 480px) {
  .hero-container {
    background-position: 180px 0px;
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    background-image: url(../images/hero-img-tab.jpg);
    background-position: 318px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    background-image: url(../images/hero-img-original.jpg), url(../images/woman.png);
    background-position: 486px 0px, -2px 220px;
    background-size: contain, 560px 560px;
  }
}

.hero-content-wrap {
  width: 100%;
  display: -ms-flexbox;
  flex-direction: column;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: 1px 357px;
  background-size: 160px 160px;
}
@media screen and (max-width: 1199px) {
  .hero-content-wrap {
    background-image: url(../images/woman.png);
  }
}
@media screen and (min-width: 414px) and (max-width: 479px) {
  .hero-content-wrap {
    background-position: 0px 350px;
    background-size: 190px 190px;
  }
}
@media screen and (min-width: 480px) {
  .hero-content-wrap {
    background-position: 28px 360px;
    background-size: 220px 220px;
  }
}
@media screen and (min-width: 768px) {
  .hero-content-wrap {
    background-position: 20px 435px;
    background-size: 280px 280px;
  }
}

.text-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 308px;
  padding-bottom: 100px;
}
@media screen and (min-width: 480px) {
  .text-wrap {
    gap: 273px;
    padding-bottom: 58px;
  }
}
@media screen and (min-width: 768px) {
  .text-wrap {
    width: 40%;
    gap: 415px;
    align-items: start;
  }
}
@media screen and (min-width: 1200px) {
  .text-wrap {
    width: 60%;
  }
}

.hero-title {
  font-family: "Cormorant", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  padding-top: 168px;
  text-align: center;
  max-width: 96px;
  padding-right: 9px;
}
@media screen and (min-width: 414px) and (max-width: 479px) {
  .hero-title {
    font-size: 45px;
    max-width: 110px;
    padding-right: 19px;
  }
}
@media screen and (min-width: 480px) {
  .hero-title {
    padding-top: 214px;
    font-size: 50px;
    line-height: 1.1;
    padding-left: 38px;
    max-width: 170px;
  }
}
@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 80px;
    line-height: 1.1;
    padding-top: 195px;
    max-width: 230px;
    padding-left: 85px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-title {
    padding-top: 250px;
    padding-left: 30px;
    font-weight: 400;
    font-size: 94px;
    line-height: 1.1;
    text-align: left;
  }
}

.title-first-text {
  margin-left: 13px;
}
@media screen and (min-width: 414px) and (max-width: 479px) {
  .title-first-text {
    margin-left: 17px;
  }
}
@media screen and (min-width: 768px) {
  .title-first-text {
    margin-left: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .title-first-text {
    margin-left: 30px;
  }
}

.title-second-text {
  color: #ffffff;
  position: absolute;
  margin-left: 61px;
  top: 208px;
}
@media screen and (min-width: 414px) and (max-width: 479px) {
  .title-second-text {
    margin-left: 74px;
  }
}
@media screen and (min-width: 480px) {
  .title-second-text {
    margin-left: 15px;
    top: 270px;
  }
}
@media screen and (min-width: 768px) {
  .title-second-text {
    margin-left: 153px;
    top: 279px;
  }
}
@media screen and (min-width: 1200px) {
  .title-second-text {
    color: #222222;
    position: static;
    margin-left: 18px;
  }
}

.title-text {
  position: absolute;
  line-height: 40px;
  margin-left: 142px;
  line-height: 40px;
  text-align: right;
  color: #ffffff;
  top: 208px;
}
@media screen and (min-width: 414px) and (max-width: 479px) {
  .title-text {
    margin-left: 166px;
  }
}
@media screen and (min-width: 480px) {
  .title-text {
    margin-left: 120px;
    top: 276px;
  }
}
@media screen and (min-width: 768px) {
  .title-text {
    margin-left: 313px;
    top: 305px;
  }
}
@media screen and (min-width: 1200px) {
  .title-text {
    margin-left: 450px;
    top: 380px;
  }
}/*# sourceMappingURL=main.css.map */