:root {
  --accent-color: #935116;
  --section-color: #fbeee6;
  --white: #fff;
  --text-color: #000000;
  --btn-bg: #f1ebe7;
  --detail-btn-hover-color: #e98242;
  --input-border: rgba(150, 93, 6, 0.2);
  --backdrop-color: rgba(147, 121, 113, 0.81);
}
