.hero {
  background-color: #fbeee6;
}
.hero-content-wrap {
  display: flex;
  position: relative;
  z-index: 1;
  background-image: url(../images/woman.png);
  background-repeat: no-repeat;
  background-position: 20px 200px;
}
.hero-title {
  font-family: 'Cormorant', serif;
  font-weight: 400;
  font-size: 120px;
  line-height: 126px;
  padding-top: 250px;
  padding-left: 50px;
}
.title-text {
  position: absolute;
  margin-left: 30px;
  font-family: 'Cormorant', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  line-height: 182px;
  text-align: right;
  color: #ffffff;
  top: 342px;
}

// font-family: 'Cormorant', serif;
// font-family: 'Inter', sans-serif;
