.procedures-section {
  padding-bottom: 30px;
}
.procedures-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include desktop {
    flex-direction: row;
  }
}
.procedures-item {
  position: relative;
  display: flex;
  justify-content: center;
}
.procedure-descrip-wrap {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--white);
}
.procedure-description {
  color: var(--white);
  padding: 65px 8px;
  width: 250px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  @include mobile {
    width: 315px;
    padding: 90px 30px;
  }
}
.procedure-full-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 280px;
  background-color: var(--white);
  padding: 20px 15px;
  font-size: 14px;
  @include mobile {
    width: 320px;
    padding: 40px 15px;
    font-size: 16px;
  }
}
