.procedures-section {
  padding-bottom: 30px;
}
.procedures-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  @include desktop {
    flex-direction: row;
  }
}
.procedures-item {
  position: relative;
  display: flex;
  justify-content: center;
}
.procedure-descrip-wrap {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid var(--white);
}
.procedure-description {
  color: var(--white);
  padding: 100px 8px;
  width: 250px;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  @include mobile {
    width: 315px;
    padding: 170px 30px;
    font-size: 20px;
  }
  @include desktop {
    padding: 250px 30px;
    width: 400px;
  }
}
.procedure-full-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 255px;
  height: 222px;
  background-color: var(--white);
  padding: 35px 15px;
  font-size: 14px;
  @include mobile {
    width: 320px;
    padding: 80px 15px;
    font-size: 18px;
    height: 364px;
  }
  @include desktop {
    height: 525px;
    width: 400px;
    font-size: 24px;
    padding: 100px 15px;
  }
}

.procedures-img {
  width: 300px;
  @include mobile {
    width: 400px;
  }
  @include tablet {
    width: 500px;
  }
  @include desktop {
    width: 600px;
  }
}
