.btn {
  width: 90px;
  background: #f1ebe7;
  border: 1px solid#935116;
  font-size: 3vw;
  line-height: 1.17;
  font-weight: 700;
  color: #935116;
  border-radius: 20px;
  padding: 5px;
  top: 350px;
  margin-left: 5px;
  z-index: 1;

  @include mobile {
    font-size: 17px;
    line-height: 1.17;
    top: 500px;
    width: 143px;
    padding: 10px;
  }
  @include tablet {
    width: 150px;
  }
  @include desktop {
    position: relative;
    top: 243px;
    left: 280px;
  }
}
